<div class="modal_adiconar none">

    <div class="modal_header">
        <h2>Detalhes da oferta</h2>
    </div>

    <form action="../functions/adicionar_servico.php" method="POST" enctype="multipart/form-data">
        <div class="oferta_detalhes">

            <div class="pessoais">
                <label for="input_img"><img src="../media/svg/add_foto.svg" alt=""></label>
                <input type="file" require id="input_img" name="img_input">
                <h3><?php echo $_SESSION['nome_comp']; ?></h3>
                <p>4.0</p>
            </div>

            <div class="oferta">

                <div class="div_servico">
                    <label for="servico">Serviço</label>
                    <input type="text" placeholder="Professor de Mat" class="servico" id="servico" name="servico" required>
                </div>

                <div class="div_horario">
                    <label for="horario">Horário</label>
                    <input type="text" placeholder="Manhã" class="horario" id="horario" name="horario" autocomplete="off" list="horarios" required>
                    <datalist id="horarios">
                        <option value="Manhã"></option>
                        <option value="Tarde"></option>
                        <option value="Noite"></option>
                    </datalist>
                </div>

                <div>
                    <label for="area-atuação">Área de atuação</label>
                    <input type="text" placeholder="Educação" class="area-atuacao" id="area-atuacao" name="area-atuacao" list="faixa" autocomplete="off" required>
                    <datalist id="faixa">
                        <option value="Educação"></option>
                        <option value="Construção"></option>
                        <option value="Alimentação"></option>
                        <option value="Digital"></option>
                        <option value="Elétrica"></option>
                        <option value="Limpeza"></option>
                        <option value="Cuidados"></option>
                        <option value="Mecânica"></option>
                        <option value="Encanamento"></option>
                        <option value="Outros"></option>
                    </datalist>
                </div>

                <div class="espaco_descricao">
                    <label for="descricao">Descrição</label>
                    <textarea name="descricao" id="descricao" cols="30" rows="5" placeholder="Descreva o seu serviço..." class="descricao" required></textarea>
                </div>
        
                <div class="div_valor">
                    <label for="valor">Valor</label>
                    <input type="number" name="valor" placeholder="A combinar" class="valor" id="valor" list="valores" required>
                    <datalist id="valores">
                        <option value="A combinar"></option>
                    </datalist>
                </div>
        
                <div>
                    <label for="contato">Contato</label>
                    <input type="text" name="contato" placeholder="(88) 99999-9999" class="contato" id="contato" list="contatos" autocomplete="off" required>
                    <datalist id="contatos">
                        <option value="<?php echo $_SESSION['email']; ?> "></option>
                        <option value="<?php echo $_SESSION['telefone']; ?>"></option>
                    </datalist>
                </div>

            </div>
        </div>
        <hr>

        <div class="modal_footer">
            <button class="btn-default" onclick="fecharModal_add()">
                Fechar <span class="span-btn"></span>
            </button>

            <button class="btn-primary" id="ofertButton">Ofertar</button>
        </div>
    </form>
    <script>
        let button = document.getElementById("ofertButton");
        button.addEventListener("click", addService);

        function addService(e){
        }
    </script>
</div>