<footer onclick="fechar_op()">
    <div class="copy">
        <img src="<?php echo $caminho."media/svg's/copyright.svg"?>" alt="">
        <p>2023. Todos os direitos reservados.</p>
    </div>

    <img src="<?php echo $caminho."media/Logo.svg"?>" alt="" class="logo">

    <div class="contact">
        <a href="#">
            <img src="<?php echo $caminho."media/svg's/instagram.svg"?>" alt="">
        </a>
        <a href="#">
            <img src="<?php echo $caminho."media/svg's/whatsapp.svg"?>" alt="">
        </a>
        <a href="#">
            <img src="<?php echo $caminho."media/svg's/email.svg"?>" alt="">
        </a>
    </div>
</footer>